@import "_base.css";

:root {
  --container-max-width: 1097px;
  --container-max-height: 90vh;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}
h1 {
  display: block;
  max-width: var(--container-max-width);
  margin: 0 auto;
}
.purchase-history {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  width: 100%;
  max-width: var(--container-max-width);
  height: var(--container-max-height);
  margin: 0 auto;

  border: 1px solid #e7e7ed;
  border-radius: 4px;
}

.purchase-history h1 {
  font-size: 40px;
  font-weight: bold;
  line-height: 125%;
  letter-spacing: 1px;
}

.purchase-history-header {
  min-width: 100%;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;

  background: #ffffff;
  box-shadow: inset 0px -1px 0px #e7e7ed;
}

.purchase-history-row {
  display: flex;
  padding: 12px 0;
  font-size: 14px;
}

.purchase-history-col {
  flex: 1;
  text-align: center;
  padding: 5px;
}

.purchase-history-col:first-child {
  padding-left: 30px;
}

.purchase-history-col.date {
  flex: 1.2;
  text-align: center;
}

.purchase-history-col.category {
  text-align: center;
  flex: 1.2;
}

.purchase-history-col.category span {
  border: 1px solid #98d4a9;
  border-radius: 2px;
  padding: 3px 12px;
}

.purchase-history-col.location {
  text-align: center;
  flex: 0.8;
}

.purchase-history-col.location img {
  border-radius: 100%;
  width: 40px;
  margin: 0 auto;
}

.purchase-history-body {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.purchase-history-row.body {
  display: flex;
}
.purchase-history-col {
  flex: 1;
  text-align: left;
  padding-left: 10px;
}
.purchase-history-col.name {
  flex: 1.3;
  text-align: left;
  font-weight: 700;
  font-size: 16px;
  text-transform: capitalize;
}

.purchase-history-col.name .amount {
  display: none;
}

.purchase-history-col.name img {
  display: none;
}

.purchase-history-col.price {
  flex: 1;
  text-align: right;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
}

.purchase-history-col.price .amount {
  flex: 0.5;
}

.purchase-history-col.purchaseDate {
  display: none;
}

@media (max-width: 768px) {
  h1 {
    margin: 0 30px;
  }
  .purchase-history {
    align-items: center;
    border: none;
  }

  .purchase-history-header {
    display: none;
  }

  .purchase-history-row {
    border: 1px solid #cdced9;
    border-radius: 10px;
  }

  .purchase-history-col.date {
    /* flex: 1; */
    display: none;
  }

  .purchase-history-col.category {
    display: none;
  }

  .purchase-history-col:first-child {
    padding-left: 0;
  }
  .purchase-history-col.name {
    display: flex;
    width: 100%;
  }

  .purchase-history-col.name .text {
    flex: 1;
    margin: 0 10px;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
  }

  .purchase-history-col.name .amount {
    /* flex: 1; */
    display: block;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
  }

  .purchase-history-col.name img {
    display: block;
    border-radius: 100%;
    width: 30px;
    height: 30px;
  }

  .purchase-history-col.name img-wrapper {
    display: flex;
    flex: 1;
  }

  .purchase-history-col.location img {
    display: none;
  }

  .purchase-history-col.price .amount {
    display: none;
  }

  .purchase-history-col.price .options-icon {
    display: none;
  }

  .purchase-history-col.purchaseDate {
    display: flex;
    flex-direction: column;
  }

  .purchase-history-col.purchaseDate .label {
    font-weight: 600;
    font-size: 16px;
  }

  .purchase-history-row.body {
    flex-direction: column;
    padding: 24px;
    display: flex;
    align-items: baseline;
    width: 90vw;
    margin: 0 auto;
    margin-bottom: 9px;
  }

  .purchase-history-row.body:first-child {
    margin-top: 10px;
  }
}
